<tr id="<%= use_type.id %>">
  <td><%= use_type.name %></td>
  <td><%= use_type.position %></td>
  <td>
    <%= link_to edit_use_type_path(use_type), title: 'Modifica tipologia di Utilizzo', remote: true do %>
      <%= icon('fas', 'pencil-alt', class: 'strong') %>
    <% end %>
  </td>
  <td>
    <%= link_to use_type, title: "Elimina tipologia di Utilizzo", method: :delete, remote: true, data: { confirm: 'Sicuri di voler eliminare la tipologia di Utilizzo corrente?' } do %>
      <%= icon('fas', 'trash-alt', id: 'icon-utility', class: 'strong') %>
    <% end %>
  </td>
</tr>
