<div class='panel panel-default'>
  <div class='panel-body'>
    <h3 class='text-primary'>
      <%= inline_svg_tag('use_type_card.svg', size: '24px * 24px', preserve_aspect_ratio: 'xMaxYMax meet') %>
      &nbsp;<strong>Tipologie di Utilizzo</strong>
      <span class='pull-right'>
        <%= link_to '#new_use_type', data: { toggle: 'modal' }, class: 'btn btn-primary btn-sm' do %>
          <%= icon('fas', 'plus', class: 'strong') %>
          &nbsp;
          <%= icon('fas', 'tools', class: 'strong') %>
          &nbsp; Nuova tipologia di Utilizzo
        <% end %>
      </span>
    </h3>
    <br/>
    <hr class='hr-primary'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>
            <%= icon('fas', 'tools', class: 'strong') %>&nbsp;Utilizzo
          </th>
          <th>
            <%= icon('fas', 'arrows-alt-v', class: 'strong') %>&nbsp;Posizione
          </th>
          <th colspan='2'></th>
        </tr>
      </thead>
      <tbody id='use_types'>
        <%= render @use_types %>
      </tbody>
    </table>
  </div>
</div>
<br>
<!-- MODAL -->
<div class='modal fade' id='new_use_type'>
  <%= form_for UseType.new, remote: true do |f| %>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
            <span class='text-danger'>
              &times;
            </span>
          </button>
          <h4 class='modal-title'>
            <strong>
              <%= icon('fas', 'pencil-alt', class: 'text-success') %>
              &nbsp;
              <%= icon('fas', 'tools', class: 'text-primary') %>
              &nbsp;&nbsp;&nbsp;
              <span class='text-primary'>
                Nuova tipologia di Utilizzo
              </span>
            </strong>
          </h4>
        </div>
        <div class='modal-body'>
          <div class='form-inputs'>
            <div class='input-group'>
              <span class='input-group-addon'>
                <strong class='infotext'>
                  <%= icon('fas', 'tools') %>
                </strong>
              </span>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <br>
            <div class='input-group'>
              <span class='input-group-addon'>
                <strong class='infotext'>
                  <%= icon('fas', 'arrows-alt-v') %>
                </strong>
              </span>
              <%= f.number_field :position, class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class='modal-footer'>
          <div class='form-group'>
            <button type='button' class='btn btn-danger' data-dismiss='modal'>
              <%= icon('fas', 'times') %>&nbsp;Chiudi
            </button>
            <%= button_tag(type: 'submit', class: 'btn btn-success', title: 'Update', 'data-toggle' => 'tooltip', 'data-placement' => 'top') do %>
              <%= icon('fas', 'save') %>&nbsp;Salva
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
