<div class='panel panel-default'>
  <div class='panel-body'>
    <br/>
    <%= inline_svg_tag('login_logo.svg', size: '260px * 80px', preserve_aspect_ratio: 'xMaxYMax meet') %>
    <br/>
    <br/>
    <br/>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group">
        <span class="input-group-addon">
          <strong class='text-primary'>
            <%= icon('fas', 'at') %>
          </strong>
        </span>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'E-Mail', class: 'form-control' %>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon">
          <strong class='text-primary'>
            <%= icon('fas', 'key') %>
          </strong>
        </span>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'E-Mail', class: 'form-control' %>
      </div>
      <br/>
      <div class='form-group'>
        <%= button_tag(type: 'submit', class: 'btn btn-primary btn-sm btn-block') do %>
          <strong>
            <%= icon('fas', 'sign-in-alt', ' Accedi', id: 'icon-login', class: 'strong') %>
          </strong>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>
