<tr id='<%= dashboard.id %>' class='bottomborder'>
  <td class='text-<%= message_priority?(dashboard) %>'>
    <strong>
      <%= dashboard.title %>
    </strong>
    <br/>
  </td>
  <td>
    <p class='text-<%= message_priority?(dashboard) %>'>
      <%= truncate(dashboard.content, length: 250) %>
      &nbsp;
      <small>
        <%= link_to dashboard_path(dashboard), title: 'Leggi l\'intero messaggio', remote: true do %>
          <%= icon('fab', 'readme', class: 'strong') %>
        <% end %>
      </small>
    </p>
  </td>
  <td>
    <small class='text-grey'>
      <%= dashboard.user.name %>
    </small>
  </td>
  <td>
    <small class='text-grey'>
      <%= dashboard.user.surname %>
    </small>
  </td>
  <td>
    <small class='text-grey'>
      <%= l(dashboard.created_at, format: '%A %d %B %Y') %>
    </small>
  </td>
  <% if dashboard.user_id == current_user.id %>
    <td>
      <small>
        <%= link_to edit_dashboard_path(dashboard), title: 'Modifica Scheda ISEE', remote: true do %>
          <%= icon('fas', 'pencil-alt', class: 'strong') %>
        <% end %>
      </small>
    </td>
    <td>
      <small>
        <%= link_to dashboard, title: 'Elimina Scheda ISEE', method: :delete, remote: true, data: { confirm: 'Sicuri di voler eliminare la Scheda ISEE corrente?' } do %>
          <%= icon('fas', 'trash-alt', class: 'strong') %>
        <% end %>
      </small>
    </td>
  <% end %>
</tr>
