<!-- MODAL-->
<div class='modal fade' id='edit_location'>
  <%= form_for @location, remote: true do |f| %>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>
            <span class='text-danger'>
              &times;
            </span>
          </button>
          <h4 class='modal-title'>
            <strong>
              <%= icon('fas', 'pencil-alt', class: 'text-warning') %>
              &nbsp;
              <%= icon('fas', 'map-marker-alt', class: 'text-primary') %>
              &nbsp;
              <span class='text-primary'>
                Modifica Zona
              </span>
            </strong>
          </h4>
        </div>
        <div class='modal-body'>
          <% if @location.errors.any? %>
            <div id='error_explanation'>
              <h2><%= pluralize(report.errors.count, 'error') %>
                Prohibited to save Use Type:</h2>
              <ul>
                <% @location.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class='form-inputs'>
            <div class='input-group'>
              <span class='input-group-addon'>
                <strong class='infotext'>
                  <%= icon('fas', 'map-marker-alt') %>
                </strong>
              </span>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <br>
            <div class='input-group'>
              <span class='input-group-addon'>
                <strong class='infotext'>
                  <%= icon('fas', 'arrows-alt-v') %>
                </strong>
              </span>
              <%= f.number_field :position, class: 'form-control' %>
            </div>
          </div>
          <div class='modal-footer'>
            <div class='form-group'>
              <button type='button' class='btn btn-danger' data-dismiss='modal'>
                <%= icon('fas', 'times') %>&nbsp;Chiudi
              </button>
              <%= button_tag(type: 'submit', class: 'btn btn-success btn-sm', title: 'Aggiorna', 'data-toggle' => 'tooltip', 'data-placement' => 'top') do %>
                <%= icon('fas', 'save') %>&nbsp;Aggiorna
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
