<tr id="<%= location.id %>">
  <td><%= location.name %></td>
  <td><%= location.position %></td>
  <td>
    <%= link_to edit_location_path(location), title: 'Modifica Zona', remote: true do %>
      <%= icon('fas', 'pencil-alt', class: 'strong') %>
    <% end %>
  </td>
  <td>
    <%= link_to location, title: "Elimina Zona", method: :delete, remote: true, data: { confirm: 'Sicuri di voler eliminare la Zona corrente?' } do %>
      <%= icon('fas', 'trash-alt', id: 'icon-utility', class: 'strong') %>
    <% end %>
  </td>
</tr>
